.cote{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #002866;
    color: #D3D31B;
    box-shadow: 0 0 20px 5px #01327c;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 500px;
    padding: 50px;
    border-radius: 10px;
    font-size: 1.25rem;
}
 #qua{
    position: relative;
     top: 13%;
     left: 30%;
     font-size: 1.5rem;
 }
 .partieee{
    position: absolute;
    display: flex;
    top: 35%;
    gap: 150px;
    left: 10%;
 }
 #m1{
    position: absolute;
    border: none;
    color:   #032e70;
    background-color:    #D3D31B;
    width: 31%;
    left: 66%;
    height: 5.5%;
    margin: 12px auto 0;
    padding: 10px;
    border-radius: 150px;
    top: 88%;
    box-shadow: 0 1px 10px rgba(7, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
 }
 #sioui{
    position: absolute;
    margin-top: 20px;
    top: 150%;
    left: 24%;
    font-size: 1.3rem;
 }
 .ROUTIN{
     position: absolute;
     top: 270%;
     left: 15%;
 }
 .DANGER{
    position: absolute;
    top: 270%;
    left: 50%; 
 }
 #nivv,#nessi{
    font-size: 1.3rem;
 }
 
