body{
    height: 100vh;
}
.page,.page2,.description,.diagnostic{
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #002866;
  color: #D3D31B;
  transform: translate(-50%,-50%);
    font-size: 1.3rem;
    width: 800px;
    height: 500px;
    padding: 50px;
    box-shadow: 0 0 20px 5px #01327c;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   grid-template-areas: "a b"
                        "c  d";
}
.page2,.description,.diagnostic{  position: absolute;
    top: 50%;
    left: 50%;
    background-color: #002866;
    color: #D3D31B;
    transform: translate(-50%,-50%);
      
      width: 800px;
      height: 500px;
      padding: 50px;
      border-radius: 10px;
      display: grid;}
.dhp{
    margin-top: 100px;
    grid-area: a;
 
}
.smd{
    margin-top: 100px;
    
    grid-area: b;
}
#PRE,#PREEE,#pree{
    position: absolute;
    border: none;
    color:   #032e70;
    background-color:    #D3D31B;
    width: 31%;
    left: 30px;
    height: 5.5%;
    margin: 12px auto 0;
    padding: 10px;
    border-radius: 150px;
    top: 87%;
    box-shadow: 0 1px 10px rgba(7, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;
}
 
#APRESS,#APRESSS,#APRESSSSS{position: absolute;
    border: none;
    color:   #032e70;
    background-color:    #D3D31B;
    width: 31%;
    left: 66%;
    height: 5.5%;
    margin: 12px auto 0;
    padding: 10px;
    border-radius: 150px;
    top: 88%;
    box-shadow: 0 1px 10px rgba(7, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease;} 
#APRES{
    position: absolute;
grid-area: d;
border: none; 
width: 70%;
left: 35%;
height: 35%;
margin: 12px auto 0;
padding: 10px;
top: 80%;
box-shadow: 0 1px 10px rgba(7, 0, 0, 0.2);
cursor: pointer;
transition: 0.3s ease;
border-radius: 20px;
color:   #032e70;
background-color:    #D3D31B;
 font-size: 20px;
}
#y,#so,#hii ,#nivv,#nessi,#sioui,#danger,#routin{
    margin-bottom: 20px;
}

 #numero,#C,#garage,#unm,#unite,#prestataire,#mecanique,#électique,#autre,#uno,#deux,#trois{ 
    border:  1px solid #001a41 ;
  
margin-left: 10px;
margin-right: 10px; 
}
#Ce,#garagee,#unme,#unitee,#prestatairee,#routin,#danger{
    border: 3px solid #001a41;
    background: rgb(168, 168, 168); 
margin-left: 10px;
margin-right: 10px;    
}
#uno:checked,#deux:checked,#trois:checked,#C:checked,#garage:checked,#unm:checked,#unite:checked,#prestataire:checked{
  
    background-color: #007BFF;
}
 #uno,#deux,#trois,#C,#garage,#unm,#unite,#prestataire{
    background: white; 
    appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     height: 13px;
     width: 13px;
     
cursor: pointer;
display: inline-block;
position: relative;
 }
.progress-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    top: 55px;
    left: 300px;
    color: #000a41;
}
.progress-bar1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    top: 55px;
    left: 170px;
    color: #000a41;
}
#électrique{
    margin-left: 10px;
    margin-right: 10px;
}
.numm,.lea,.a,.b,.cb,.d{
    margin-bottom: 20px;
}
#so{
    margin-bottom: 10px;
    margin-top: 20px;
}
.step,.stepp {
    width: 100px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    background: lightgray;
}

.step.active,.stepp.active {
    background:  linear-gradient(65deg, #f1f503, #d0ff50);
    border-color:yellow;
    color: #000a41;
    border-radius: 10px;
}

.buttons { 
 margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}
#hii,#hiiii,#hiiiii{position: absolute;
    top: 20%;
    left: 30%;
    font-size: 2rem;
}
#ES,#descri,#diagno{position: absolute;
    width: 90%;
    height: 50%;
    top: 30%;
    left: 4.5%;
}
 #A,#LE{
    background-color: transparent;
    border: 0px solid transparent;
    color: #D3D31B;
 }